 body {
     /* position: relative; */
     font-family: unibody-8-new, sans-serif;
     /* font-family: hydrophilia-iced, sans-serif; */
     font-style: normal;
     font-weight: 400;
     background: #1A1A1D;
 }

 .landing {
     width: 100%;
     height: 100vh;
     padding: 50px 20px;
     background: #1A1A1D;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     align-content: center;
     gap: 50px;
 }

 .worldmap {
     width: 100%;
     max-width: 1000px;
     display: flex;
     justify-content: center;
     margin: 0 auto;
 }

 .worldmap>img {
     width: 100%;
 }

 .worldmap>img:nth-child(2) {
     display: none;
 }

 .title {
     display: flex;
     justify-content: center;
     font-size: 30px;
     color: #950740;
 }


 /* .all {
     margin-bottom: 50px;
 } */

 .menu {
     width: 100%;
     color: #4e4e50;
     display: flex;
     justify-content: center;
     gap: 20px;
     /* position: fixed;
     top: 0; */
     background-color: #1A1A1D;
     padding: 20px 0;
     z-index: 99999;
 }

 .menu>div {
     transition: all 0.5s;
 }

 .menu>div:nth-child(1) {
     color: #950740;

 }

 .section {
     width: 100%;
     height: 100vh;

     box-sizing: border-box;
 }

 /*내용페이지*/
 .information {
     display: flex;
     justify-content: space-evenly;
     padding-left: 150px;
 }

 .country_img_box,
 .country_txt_box {
     width: 40%;
     height: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 100px 0 50px;
     box-sizing: border-box;
 }

 .country_img_box {
     justify-content: center;
 }

 .menu_btn {
     display: none;
 }

 .info_box {
     width: 100%;
     display: flex;
 }

 .key {
     width: 40%;
 }

 .value {
     width: 60%;
 }

 .img_px {
     width: 100%;

     /* background: rgba(26, 26, 29, 0.05);
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
     backdrop-filter: blur(0px);
     -webkit-backdrop-filter: blur(0px);
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.18); */
 }

 .img_px>img {
     width: 100%;
 }

 .name {
     color: #c3073f;
     font-size: 40px;
 }

 .key>li {
     color: #950740;
 }

 .value>li {
     color: #950740;
 }

 .rate_box {
     margin-top: 50px;
     width: 100%;
 }

 .box_title {
     color: #c3073f;
 }

 .rate_bar {
     width: 100%;
     /* height: 200px; */

     display: flex;
     /* gap: 20px; */
     flex-direction: column;
     align-items: flex-end;
     justify-content: space-around;
 }

 .rate_title {
     display: flex;
     justify-content: space-around;
     /* gap: 10px; */
 }

 .number {
     position: absolute;
     right: 20px;
     /* color: #4e4e50; */
 }

 .bar_box {
     width: 100%;
 }

 .bar {
     width: 100%;
     height: 30px;
     box-sizing: border-box;
     margin: 5px 0 20px;
     border-radius: 1em;

     box-shadow:
         3px 3px 6px #161619,
         -3px -3px 6px #1e1e21,
         inset 3px 3px 6px #161619,
         inset -3px -3px 6px #1e1e21;
     position: relative;
 }

 .progress {
     width: 10%;
     height: 85%;
     background: linear-gradient(90deg, #4e4e50 0%, #950740 100%);
     border-radius: 1em;
     position: absolute;
     top: 50%;
     left: 2px;
     transform: translate(0, -50%);
     transition: all 1s;
 }

 .bar_name {
     color: #4e4e50;
 }

 #phillipines>.st0 {
     animation: phil 1s linear forwards;
 }


 @keyframes phil {
     0% {
         fill: #1A1A1D;
     }

     100% {
         fill: #0038a8;
     }
 }

 @media screen and (max-width: 1250px) {
     .country_txt_box {
         width: 40%;
     }

     .menu>a>div {
         font-size: 14px;
     }

     .information {
         justify-content: left;
         gap: 30px;
     }

     .key {
         width: auto;
         font-size: 14px;
     }

     .value {
         width: auto;
         font-size: 14px;
     }

     .info_box {
         gap: 30px;
     }

     .name {
         font-size: 30px;
     }
 }

 @media screen and (max-width: 1100px) {
     .all {
         position: relative;
     }

     .menu {
         flex-direction: column;
         width: auto;
         height: 100vh;
         padding: 0 20px;
         position: fixed;
         left: 0;
         opacity: 0.9;
     }

     .title {
         width: 100%;
     }

     .box {
         display: flex;
         width: 100%;
     }

     .landing {
         flex-wrap: wrap;
         flex-direction: row;
         gap: 20px;
         padding: 50px 0;
     }

     .worldmap {
         padding: 0 20px 0 170px;
     }

     .rate_box {
         margin-top: 0;
     }

     .bar {
         height: 20px;
     }

     .bar_name {
         font-size: 14px;
     }

     .number {
         font-size: 12px;
     }
 }

 @media screen and (max-width: 850px) {
     .name {
         display: none;
     }

     .information {
         flex-direction: column;
         padding-right: 20px;
         padding-left: 170px;
     }

     .country_img_box {
         width: 100%;
         /* max-width: 500px; */
         justify-content: center;
         padding: 50px 0 0;
     }

     .img_px {
         max-width: 400px;
     }

     .country_txt_box {
         width: 100%;
         padding: 0;
         /* flex-wrap: nowrap; */
     }

     .info_box {
         justify-content: center;

     }

     .rate_box {
         margin-top: 0;
     }

     .rate_bar {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: left;
         gap: 20px;
     }

     .bar_box {
         width: calc((100% - 40px)/3);
     }

     .worldmap>img:nth-child(2) {
         display: block;
     }

     .worldmap {
         padding: 0 20px;
         gap: 20px;
         overflow: hidden;
     }

     .worldmap>img {
         animation: world_move 30s linear forwards;
     }

     @keyframes world_move {
         0% {
             transform: translateX(50%);
         }

         100% {
             transform: translateX(-50%);
         }
     }

     .landing {
         gap: 100px;
         align-content: space-around;
     }
 }

 @media screen and (max-width: 600px) {
     .information {
         height: auto;
         padding-left: 20px;
         padding: 30px 20px;
     }

     .country_img_box {
         padding: 0;
     }

     .rate_bar {
         overflow: hidden;
         width: 100%;
         gap: 20px;
     }

     .landing {
         align-content: center;
     }

     .bar_box {
         width: calc((100% - 20px)/2);
     }

     .rate_box {
         margin-top: 30px;
     }

     .menu {
         width: 100%;
         box-sizing: border-box;
         opacity: 0.95;
         top: 100vh;
     }

     .menu>a>div {
         font-size: 14px;
         display: flex;
         justify-content: center;
     }

     .menu_btn {
         display: block;
         width: 20vw;
         height: 20vw;
         border-radius: 50%;
         background-color: #4e4e50;
         opacity: 0.8;
         position: fixed;
         bottom: 0;
         left: 50%;
         transform: translate(-50%, 50%);
         z-index: 999999;
         transition: background-color 0.5s;
         animation: menu_move 2s linear infinite;
     }

     .name {
         display: block;
     }

     @keyframes menu_move {
         0% {
             width: 15vw;
             height: 15vw;
         }

         50% {
             width: 18vw;
             height: 18vw;
         }

         100% {
             width: 15vw;
             height: 15vw;
         }
     }
 }