body {
    /* position: relative; */
    font-family: unibody-8-new, sans-serif;
    /* font-family: hydrophilia-iced, sans-serif; */
    font-style: normal;
    font-weight: 400;
    background: #1A1A1D;
    color: #4e4e50;
}

.menu {
    width: 100%;
    color: #4e4e50;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    background-color: #1A1A1D;
    padding: 20px 0;
    z-index: 99999;

}

.menu>div {
    transition: all 0.5s;
}

.menu>div:nth-child(1) {
    color: #950740;

}

.photo_section {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.country {
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.photo_box {
    min-height: 300px;
    /* border: #950740 1px solid; */
}


.swiper {
    margin: 100px auto;
    width: 500px;
    height: 500px;
    /* background: #1A1A1D; */
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: #1A1A1D;
}

.swiper-slide>img {
    width: 100%;
}

.error {
    width: 100%;
    font-size: 30px;
    font-family: unibody-8-new, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --swiper-theme-color: #950740 !important;
}

.menu_btn {
    display: none;
}

.index_wrap {
    font-size: 14px;
}

@media screen and (max-width: 1250px) {
    .menu>a>div {
        font-size: 14px;
    }
}

@media screen and (max-width: 1100px) {

    .menu {
        flex-direction: column;
        width: auto;
        height: 100vh;
        padding: 0 20px;
        position: fixed;
        left: 0;
        opacity: 0.9;
    }

    .country {
        padding-left: 150px;
    }
}

@media screen and (max-width: 670px) {
    .menu {
        width: 100%;
        box-sizing: border-box;
        opacity: 0.95;
        top: 100vh;
    }

    .menu>a>div {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .menu_btn {
        display: block;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #4e4e50;
        opacity: 0.8;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 999999;
        transition: background-color 0.5s;
        animation: menu_move 2s linear infinite;
    }

    @keyframes menu_move {
        0% {
            width: 15vw;
            height: 15vw;
        }

        50% {
            width: 10vw;
            height: 10vw;
        }

        100% {
            width: 15vw;
            height: 15vw;
        }
    }

    .country {
        padding-left: 0;
    }

    .index_wrap {
        width: 100%;
        color: #4e4e50;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #1A1A1D;
        padding: 20px 0;
        z-index: 99999;
    }
}

@media screen and (max-width: 520px) {
    .swiper-wrapper {
        width: 100%;
    }

    .swiper {
        margin: 100px auto;
        width: 100%;
        height: 500px;
        /* background: #1A1A1D; */
    }

    .title {
        font-size: 4.5vw;

    }
}

@media screen and (max-height:400px) {

    .menu {
        gap: 10px;

    }
}